<header class="header">
    <h2>Easy Money</h2>
</header>
<div class="row justify-content-center">
    <ul class="nav flex-column flex-sm-row">
        <li>
            <a class="flex-sm-fill text-sm-center nav-link active" 
            routerLink="" routerLinkActive="home">Home</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link"
            routerLink="cadastro" routerLinkActive="ativo">Cadastrar</a>
        </li>
        <li>
        <a class="flex-sm-fill text-sm-center nav-link"
        routerLink="painel-usuario" routerLinkActive="ativo">Painel do Usuário</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link"
            routerLink="login" routerLinkActive>Login</a>
        </li>
    </ul>
</div>