<form [formGroup]="loginForm" class="container col-sm-8 col-md-6 col-lg-4">
    <div class="form-group">
      <label for="email">Endereço de email</label>
      <input type="email" class="form-control" id="email" 
      placeholder="Seu email" formControlName="email"
      [class.is-invalid]="exibeErro('email')"
      [class.is-valid]="exibeVerificado('email')">
    </div>
    
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" 
      placeholder="Senha" formControlName="password"
      [class.is-invalid]="exibeErro('password')"
      [class.is-valid]="exibeVerificado('password')">
    </div>

    <button type="submit" class="btn btn-primary" 
    (click)="logon()">Entrar</button>
</form>