<div class="row justify-content-center">
    <table>
        <th>
            <button type="submit" class="btn btn-success">
                Criar conta</button>
        </th>
        <th>
            <button type="submit" class="btn btn-danger">
                Deletar conta</button>
        </th>
        <th>
            <button type="submit" class="btn btn-primary">
                Visualizar saldo</button>
        </th>
        <th>
            <button type="submit" class="btn btn-warning">
                Transferir saldo</button>
        </th>
    </table>
</div>
