<div class="container clientes-container">
  <h3>Clientes</h3>
  <table class="table table-hover">
    <thead class="bg-light">
      <tr>
        <th> ID </th>
        <th> CPF </th>
        <th> Nome </th>
        <th> Email </th>
        <th> Banco </th>
        <th> Ações </th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">       
        <td> {{ usuario.id }} </td>
        <td> {{ usuario.cpf }} </td>
        <td> {{ usuario.nome }} </td>
        <td> {{ usuario.email }} </td>
        <td> {{ usuario.banco }}</td>
        <td class="d-flex">
          <a routerLink="painel-usuario">
            <button class="btn btn-primary icon-container d-flex justify-content-center" title="Ver Detalhes">
              <img src="../../assets/settings-white-18dp.svg" alt="detalhes" class="icon">
            </button>
          </a>
          <button class="btn btn-danger icon-container d-flex justify-content-center" title="Deletar Cliente">
            <img src="../../assets/delete_forever-white-18dp.svg" alt="deletar" class="icon">
          </button>
        </td>
      </tr>    
    </tbody>
  </table>
</div>